/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
-webkit-user-select: none;
}

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

body {
	background-color: black;
	font-family: helvetica, arial, sans-serif;
	height: 1024px;
	overflow: hidden;
	width: 768px;
}

#wrapper {
	height: 1024px;
	overflow: hidden;
	width: 768px;
}

#gameWrapper {
	background-image: url('pic/background.png');
	height: 1024px;
	overflow: hidden;
	width: 768px;
	z-index: 2;
}

#whiteArea {
	height: 128px;
	width: 768px;
}

.sideBox {
	display: block;
	float: left;
	height: 128px;
	width: 96px;
}

.flip {
	-webkit-transform: rotate(180deg);
}

.slide {
	-webkit-transition: -webkit-transform 0.2s linear;
}

.sideBoxButtonWrapper {
	margin: 16px 16px 0 16px;
	width: 64px;
}

#wrapper div.btnOpenMenu {
	font-size: 18px;
	height: 70px;
	line-height: 1.5em;
	padding: 12px 0 0 0;
	position: absolute;
	width: 64px;
	z-index: 2700;
}

#openMenuWhite {
	left: 13px;
	top: 24px;
}

#openMenuBlack {
	left: 685px;
	top: 912px;
}

#whiteHolder {
	display: block;
	float: left;
	width: 576px;
	height: 128px;
}

#white {
	display: block;
	margin-top: 16px;
}

#can {
	display: block;
	opacity: 0;
	-webkit-transition: opacity 100ms linear;
}

#blackArea {
	height: 128px;
	width: 768px;
}

#blackHolder {
	display: block;
	float: left;
	width: 576px;
	height: 128px;
}

#black {
	display: block;
	margin-top: 16px;
	position: absolute;
	z-index: 10;
}

#loading {
	background-color: rgba(0,0,0,0.6);
	height: 1024px;
	left: 0px;
	opacity: 1;
	position: absolute;
	top: 0px;
	width: 768px;
	z-index: 2800;
	-webkit-transition: opacity 500ms ease;
}

#loading img {
	display: block;
	margin: -64px 320px 0 320px;
	position: absolute;
	top: 50%;
	-webkit-transform: rotate(0deg);
	-webkit-transition: -webkit-transform 250ms linear;
}

#menuWrapper {
	background-color: black;
	display: block;
	height: 1024px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 768px;
	z-index: 3000;
	-webkit-transform: translate3d(0, 0, 0);
	/* When menu slides out/in */
}

#splashWrapper {
	margin-bottom: 96px;
	-webkit-transform: translate3d(128px, 256px, 0);
	-webkit-transition: -webkit-transform 0.8s ease-in-out;
}

#menuWrapper .menuItem {
	display: block;
	margin: 20px auto 0 auto;
	text-align: center;
	width: 384px;
	-webkit-transform: translate3d(-600px, 0px, 0);
	-webkit-transition: -webkit-transform 300ms ease-out;
}

#menuWrapper #menuNew {
	-webkit-transition-delay: 1s;
}

#menuWrapper #menuSettings {
	-webkit-transition-delay: 1.3s;
}

#menuWrapper #menuResume {
	display: none;
	margin-top: 64px;
	-webkit-transition-delay: 1.6s;
}

#settingsWrapper {
	background-color: rgb(230,230,230);
	height: 1024px;
	left: 768px;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 768px;
	-webkit-transform: translate3d(0, 0, 0);
	z-index: 3000;
}

#settingsPadding {
	padding: 0 64px 64px 64px;
}

#settingsWrapper h2 {
	font-size: 24px;
	margin: 48px 0 16px 0;
	text-align: center;
}

.settingsCollection {
	background-color: white;
	border: 1px rgb(160,160,160) solid;
	margin-bottom: 16px;
	-webkit-border-radius: 8px;
}

#settings>div {
	border-bottom: 1px rgb(192,192,192) solid;
	line-height: 32px;
	padding: 8px;
}

#settings>div:last-child {
	border-bottom: none;
}

#settings input {
	height: 32px;
	vertical-align: top;
	width: 32px;
}

#settings h3 {
	display: inline-block;
	font-size: 18px;
	margin-left: 4px;
	position: relative;
	top: 3px;
	vertical-align: top;
}

#settings p {
	color: rgb(160,160,160);
	margin: 0;
}

#help {
	height: 512px;
	line-height: 1.3em;
	padding: 16px;
	position: relative;
	z-index: 1;
}

#help h3 {
	font-size: 20px;
	margin: 16px 0 12px 0;
}

#help p {
	margin: 0 0 12px 0;
}

#confirmOverlay {
	height: 1024px;
	left: 0px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	width: 768px;
	z-index: 2300;
}

#confirmOverlay * {
	z-index: 2300;
}

#confirmWhiteWrapper, #confirmBlackWrapper {
	height: 128px;
}

.confirmWrapper {
	background-color: rgb(245,245,245);
	border: 1px black solid;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	height: 144px;
	margin: 0 auto 0 auto;
	-webkit-transform: translate3d(0, 140px, 0);
	-webkit-transition: -webkit-transform 100ms linear;
	width: 576px;
}

.confirmNo {
	background-image: url('pic/sprites.png');
	background-position: 0 -30px;
	float: left;
	height: 56px;
	margin: 16px;
	width: 264px;
}

.confirmNo:active {
	background-position: 0 -86px;
}

.confirmYes {
	background-image: url('pic/sprites.png');
	background-position: 0 -142px;
	float: left;
	height: 56px;
	margin: 16px 0 0 0;
	width: 264px;
}

.confirmYes:active {
	background-position: 0 -198px;
}

#confirmBoard {
	height: 768px;
}

#overlay {
	height: 1024px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 768px;
	z-index: 1200;
}

.turnOverlayPlayer {
	background-color: rgba(0,0,0,0.8);
	color: white;
	display: none;
	height: 128px;
	opacity: 0;
	position: absolute;
	width: 768px;
	-webkit-transition: opacity 100ms linear;
}

.turnOverlayPlayer p {
	font-size: 48px;
	font-weight: bold;
	height: 68px;
	padding: 30px 0 30px 0;
	text-align: center;
}

#turnOverlayWhite {
	left: 0px;
	top: 0px;
}

#turnOverlayBlack {
	left: 0px;
	top: 896px;
}

#held {
	left: 0px;
	position: absolute;
	top: 0px;
	z-index: 1900;
}

#invisible {
	display: none;
	position: absolute; top: 10px; left: 10px;
}

#debug {
	position: absolute;
	top: 900px;
	left: 2px;
	display: none;
	background-color: white;
	width: 92px;
	height: 112px;
	z-index: 6000;
} /* REMOVE */



.button {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 3em;
	border: 3px solid #282726;
	background: -webkit-gradient( linear, left top, left bottom, from(#e2e2e2), to(#8c8a88), color-stop(0.5, #acadae), color-stop(0.5, #92908e) );
	margin: 0 0 3px 0;
	text-align: center;
	text-shadow: 0px 1px 0 #cecece;
	-webkit-background-origin: padding-box;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 8px;
}

.button:active {
	color: #fff;
	text-shadow: none;
	background: -webkit-gradient( linear, left top, left bottom, from(#aaaee5), to(#10006d), color-stop(0.5, #1F3B97), color-stop(0.5, #081f6f) );
	-webkit-background-origin: padding-box;
	-webkit-background-clip: padding-box;
}